output/

# Build artifacts (poetry build outputs)
dist/
build/
*.egg-info/

# Python cache & virtualenv
__pycache__/
*.pyc
.venv/

# Test artifacts
tests/__pycache__/

# IDE/Jupyter caches
.ipynb_checkpoints/
.vscode/
.idea/